.card-container{
  display: inline-block;
}

.card{
  background-color: red;
  display: inline-block;
  margin: 10px 10px;
  /* padding: 10px 10px; */
  border-radius: 2px;
  
}
.image-card{
  margin: 0;
  width: 200px;
  /* height: 200px; */
}

.profile-pic{
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 2px;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}
.details-card{
  background-color: white;
  width: 190px;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.573);
}
p{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.name{
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
}
.friends-detail{
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}
.friend-image-div{
  width: 20%;
  display: inline-block;
  margin-right: 5px;
}
.friend-img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}
.friends{
  color: rgb(0, 0, 0);
  font-size: 13px;
  width: 75%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.add-friend-btn{
  background-color: rgb(0, 72, 205);
  color: white;
  font-size: 15px;
  margin-top: 10px;
  width: 120px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}
