input{
  border-width: 1px;
  border-style: solid;
  margin: 0;
  border-radius: 8px;
  font-size: 20px;
  padding: 6px 15px;
  margin-bottom: 15px;
}
.firstname-bar, .lastname-bar{
  width: 150px;
  margin-top: 10px;
  
}
.email-bar{
  display: block;
  width: 335px;
}
.signup-btn{
  background-color: rgb(19, 52, 129);
  color: white;
  font-size: 20px;
  font-family: Arial;
  font-style: normal;
  width: 370px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  border-style: solid;
}